@charset "UTF-8";

/* em html id = em css # (só pode um elemento)
em html class = em css . (pode vários elementos)
*/

body {
    background-color: #A000F5;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    text-align: justify;
}

h1#principal {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 3em;
    background-color: rgb(26, 26, 143);
}

.destaque {
    background-color: rgb(26, 26, 143);
    color: white;
    text-align: center;
}

h2 {
    color: rgb(3, 17, 84);
}

.basico {
    color: #f50000;
}

.intermediario {
    color: #f5e500;
}

.avancado {
    color: #00e5f5;
}