@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: sans-serif;
    font-size: 1em;
}

header {
    background-color: blue;
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

header menu {
    background-color: rgb(15, 15, 124);
    padding: 10px;
    margin: -10px;
}

header menu ul {
    list-style-type: none;
}

header menu ul li {
    color: white;
    display: inline-block;
    margin: auto;
    margin-right: 20px;
}

main article {
    padding: 10px;
    margin: 10px;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    background-color: rgb(185, 185, 195);
}

main h2 {
    margin-bottom: 20px;
}

main p {
    line-height: 1.5em;
    text-align: justify;
}