@charset "UTFF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(26, 26, 67);
    height: 100vh;
}

header {
    background-color: blue;
}

header h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

span#menu-burguer {
    background-color: rgb(35, 35, 153);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

span#menu-burguer:hover {
    background-color: #0b0b23;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
    background-color: rgb(31, 31, 110);
}

menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

menu li {
    padding: 10px;
}

menu li:hover {
    background-color: #3b3bae;
    padding: 13px;
    transition: 0.5s;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article h1, h2, h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    
}

footer {
    background-color: blue;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: fixed;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}