@charset "UTFF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(26, 26, 67);
}

header {
    background-color: blue;
}

header h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

span#menu-burguer {
    background-color: rgb(35, 35, 153);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

span#menu-burguer:hover {
    background-color: #1c1c67;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #121298b8;
    text-align: center;
    border-top: 3px solid blue;
}

menu a:hover {
    background-color: #1c1c67;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article h1, h2, h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    
}

footer {
    background-color: blue;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: fixed;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}