@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: #074908;
}

h1#titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 13px;
    margin-bottom: 15px;
    color: white;
}

p.cabecalho {
    text-align: center;
}

h2 {
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: #074908;
    background-color: #47b0739f;
    background-image: linear-gradient(to right, #17461874, #ffffff);
    padding: 4px;
}

h3 {
    background-color: #1e9c20;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -11px;
    margin-left: -11px;
    margin-top: -11px;
    padding: 10px;
}

header {
    background-image: linear-gradient(to top, #174618, #4bb44fb6);
    color: white;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: -8px;
}

nav {
    background-color: #285b29;
    text-align: left;
}

footer {
    background-color: #175018;
    text-align: center;
    color: white;
    padding: 5px;
    margin-right: -50px;
    margin-left: -50px;
    margin-bottom: -50px;
    margin-top: 10px;
}

a {
    color: white;
    margin-right: 19px;
    text-decoration: none;
    padding: 17px;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a.link {
    color: #0400ff;
    margin-right: -15px;
    margin-right: -15px;
    margin-left: -15px;
}

body {
    background-color: #47b073;
}

main {
    background-color: white;
    padding: 15px;
    margin: 0px 77px 0px 77px;
}

main.secundario {
    background-color: white;
}

div {
    background-color: #00ff04;
}

img {
    margin: auto;
}

p {
    text-indent: 30px;
    text-align: justify;
}

span {
    display: block;
    margin: auto;
    background-color: #268328;
}

span.secundario {
    background-color: #39cf82;
    padding: 10px;
    border-radius: 10px;
}