@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

header {
    background-color: lightcoral;
    text-align: center;
    color: white;
    padding: 10px;
}

header li {
    list-style-type: none;
    background-color: black;
    margin: 7px 20px 10px 20px;
    padding: 5px;
    border-radius: 5px;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto auto auto;
    box-shadow: 1px 3px 2px black;
    width: 95vw;
}