@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5px;
}

header h1 {
    margin-bottom: 5px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
    color: lightblue;
}

main {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    max-width: 90vw;
}