@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.5em;
}


header {
    background-color: lightcoral;
    text-align: center;
    color: white;
    padding: 10px;
}

section.conteiner {
    display: flex;
    flex-flow: column nowrap;
    background-color: #887f7f95;
    margin: auto;
    width: 90vw;
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.text {
    flex: 1 1 400px;
    margin-right: 10px;
}

div.media {
    flex: 1 0 400px;
}

div.media iframe {
    width: 90vw;
    display: block;
    margin: auto;
}

img {
    max-width: 300px;
}