@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,#16E0CC, #2A3635);
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px white
}

h2 {
    color: white;
}

a {
    color: white;
}

main {
    padding: 10px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #2C3332;
    box-shadow: 3px 2px 1px #3A615D;
}

p {
    text-align: justify;
    color: white;
}