@charset "UTF-8";

div.conteiner {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    border: 3px solid red;
}

.caixa01 {
    /* grid-row-start: 1;
    grid-row-end: 2; */
    
    /* grid-column-start: 1;
    grid-column-end: -1; */

    /* grid-row: 1 / 2;
    grid-column: 1 / -1; */

    grid-area: 1 / 1 / 2 / -1;

    background-color: blue;
}

.caixa02 {
    /* grid-row-start: 2;
    grid-row-end: -1; */

    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-row: 2 / -1;
    grid-column: 1 / 3; */

    grid-area: 2 / 1 / -1 / 3;

    background-color: green;
}

.caixa03 {
    /* grid-row-start: 2;
    grid-row-end: -1; */

    /* grid-column-start: 3;
    grid-column-end: -1; */

    /* grid-row: 2 / -1;
    grid-column: 3 / -1; */

    grid-area: 2 / 3 / -1 / -1;

    background-color: yellow;
}