@charset "UTF-8";

body {
            background-color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: justify;
        }
        h1 {
            color: rgb(255, 255, 255);
            background-color: rgb(255, 106, 0);
        }
        h2 {
            color: rgb(255, 255, 255); background-color: rgb(255, 149, 0);
        }
        p {
            color: rgb(255, 255, 255);
        }