@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to left, #FF0000, #F3FF4E);
}

main {
    border-radius: 11px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 1px black;
}

h1 {
    font-family: 'nosifer', Times, serif;
    font-size: 4em;
    text-align: center;
    color: #FF0000;
    text-shadow: 1px 1px 1px black;
}

p {
    font-family: Jolly Lodger, sans-serif;
    font-size: 2em;
    text-align: justify;
}
