@charset "UTF-8";

/* CONFIGURAÇÕES LANDSCAPE (PAISAGEM) */

body {
    /* color > url > position > repeat > [ size ] > attachment size não funciona */
    background-image: url('../imagens/cev-landscape.jpg');
    background-position: left bottom;
}