@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

main {
    border-radius: 11px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 15px #20448C;
}

h1 {
    color: #20448C;
    text-align: center;
    text-shadow: 1px 1px 2px #20448C;
}

h2 {
    color: #086CB4;
}

body {
    background-image: linear-gradient(to right, #FFBC24, #FFD340) 
}